<p id="notice"><%= notice %></p>

<p>
  <strong>Vorname:</strong>
  <%= @kunde.vorname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @kunde.nachname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kunde.email %>
</p>

<p>
  <strong>Strasse:</strong>
  <%= @kunde.strasse %>
</p>

<p>
  <strong>Hausnummer:</strong>
  <%= @kunde.hausnummer %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @kunde.plz %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @kunde.tel %>
</p>

<p>
  <strong>Rolle:</strong>
  <%= @kunde.rolle %>
</p>

<%= link_to 'Edit', edit_kunde_path(@kunde) %> |
<%= link_to 'Back', kundes_path %>
