<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produkt.name %>
</p>

<p>
  <strong>Kategorie:</strong>
  <%= @produkt.kategorie %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @produkt.beschreibung %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @produkt.preis %>
</p>

<p>
  <strong>Gueltigvon:</strong>
  <%= @produkt.gueltigVon %>
</p>

<p>
  <strong>Gueltigbis:</strong>
  <%= @produkt.gueltigBis %>
</p>

<%= image_tag @produkt.bild.url(:medium) %>
<%  if Kunde.where(:email => session[:user_session]).first.rolle == 1%>
<%= link_to 'Edit', edit_produkt_path(@produkt) %> |
<%= link_to 'Zurück', produkts_path %> |
<%= link_to 'In den Warenkob', controller: "produkts", action: "adding_to_warenkorb", id: @produkt%>
<%else %>
<%= link_to 'Zurück', produkts_path %> |
<%= link_to 'In den Warenkob', controller: "produkts", action: "adding_to_warenkorb", id: @produkt%>
<%end%>