<p id="notice"><%= notice %></p>

<p>
  <strong>Datum:</strong>
  <%= @auftrag.datum %>
</p>

<p>
  <strong>KundenID:</strong>
  <%= @auftrag.kunden_id %>
</p>


<%= link_to 'Edit', edit_auftrag_path(@auftrag) %> |
<%= link_to 'Back', auftrags_path %>
