<!DOCTYPE html>

<%
  
  #users = ["Alice", "Bob", "Eve", "Administrator"]
  users = Kunde.all.map{|obj| obj.email}
 

  if (not params[:user_post].nil?) and users.include?(params[:user_post])
    selected = params[:user_post]
    session[:user_session] = params[:user_post]
  else
    selected = session[:user_session]
  end
%>

<html>
    <head>
        <title>Sofaladen</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">
          function about() {
              info = document.getElementById('about-content');
              if (window.XMLHttpRequest)
              {
                  xhr = new XMLHttpRequest();
              }
              else
              {
                  xhr = new ActiveXObject("Microsoft.XMLHTTP");
              }
              xhr.open("GET", "rails/info/properties", false);
              xhr.send("");
              info.innerHTML = xhr.responseText;
              info.style.display = 'block'
          }
        </script>
    </head>
    <body>
        <div id="page">
            <div id="header">
                <img src="/assets/logo.png" />
                <%
                  if session[:first_access].nil?
                    session[:first_access] = Time.now.inspect
                  end
                  
                  showuser = 'nil!'
                  if not session[:user_session].nil?
                    showuser = session[:user_session]
                  end
                %>
                <%= session[:session_id] + " --- " + session[:first_access] + " --- " + showuser%>
            </div>

            <div id="sidebar">
                <ul id="sidebar-items">
                    <li>
                        <h3>Artikel suchen</h3>
                          <%= form_tag(search_path, method: "get") do %>
                          <%= text_field_tag(:suchbegriff, '', size: 17)%>  
                          <%= submit_tag("Los") %>
                        <% end %>
                    </li>
                    <li>
                        <h3>Benutzer auswählen</h3>
                        <form method="GET">
                          <select name="user_post">
                            <% users.each { |user| %>
                            <%   if user == selected %>
                            <option selected><%= user %> </option>
                            <%   else %>
                            <option><%= user %> </option>
                            <%   end %>
                            <% } %>
                          </select>
                          <input type="submit" value="OK">
                        </form>
                    </li>
                    <li>
                     
                        <h3>Navigation</h3>
                        <%  if Kunde.where(:email => session[:user_session]).first.rolle == 1%>
                        <a href="/produkts" style="font-weight:bold; color:purple">Produkte</a><br>
                        <%= link_to 'Warenkorb', controller: "auftrags", action: "warenkorb"%><br>
                        <br>
                        <a href="/auftrags" style="color:purple">Aufträge</a><br>
                        <a href="/kundes" style="color:purple">Kunden</a><br>
                        <a href="/unterprodukts/stuecklist" style="color:purple">Stueckliste</a><br>
                        <a href="/produkts/istwert" style="color:purple">Ist Wert Tabelle</a><br>
                        <a href="/assoziationsanalyse/index" style="color:purple">Assoziationsanalyse</a><br>
                        <%  else%>
                          <a href="/produkts" style="font-weight:bold; color:purple">Produkte</a><br>
                          <%= link_to 'Warenkorb', controller: "auftrags", action: "warenkorb"%><br>
                          <% end %>
                    </li>
                </ul>
            </div>

            <div id="content">
                <%= yield %>
            </div>

            <div id="footer">
                &copy; Louisa Spahl und Jana Wengenroth (für BW2-Praktikum WS14-15)
            </div>
        </div>

    </body>
</html>
